#loginBtn{
    background-color: rgb(0, 119, 255);
}

#registerBtn{
    background-color: rgb(122, 122, 0);
}

#dashboardBtn{
    background-color: rgb(103, 11, 156);
}

#highScoreBtn{
    background-color: orange;
}