button{
    width: 280px;
}

.buttonMenu{
    height: 60%;
}

#joinBtn{
    background-color: rgb(0, 119, 255);
}

#homeBtn{
    background-color: rgb(122, 122, 0);
}

#accountBtn{
    background-color: orange;
}

#logoutBtn{
    background-color: rgb(103, 11, 156);
}