table {
    border-spacing: 0;
    border-collapse: collapse;
}

td, tr {
    margin: 0;
    padding: 0; 
}

td img {
    vertical-align: top;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}