@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Preahvihear&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Preahvihear&family=Sigmar&display=swap');

* {
    margin: 0;
    padding: 0;

    font-family: "Preahvihear", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    /* background-color: rgb(40, 85, 51);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5) 2px, transparent 1px),
        linear-gradient(90deg, rgba(0, 0, 0, 0.5) 2px, transparent 1px);
    background-size: 55px 55px; */

    background-image: url('../assets/Background_Template_Dark.png');
    background-repeat: repeat;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.splitContainerX {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navButtons{
    flex-direction: row;
    justify-content: space-evenly;
    
    width: 50%;
}

@keyframes rainbow-glow {
    0% {
        text-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px red;
    }

    20% {
        text-shadow: 0 0 10px orange, 0 0 20px orange, 0 0 30px orange;
    }

    40% {
        text-shadow: 0 0 10px rgb(204, 0, 255), 0 0 20px rgb(204, 0, 255), 0 0 30px rgb(204, 0, 255);
    }

    60% {
        text-shadow: 0 0 10px pink, 0 0 20px pink, 0 0 30px pink;
    }

    80% {
        text-shadow: 0 0 10px blue, 0 0 20px blue, 0 0 30px blue;
    }

    100% {
        text-shadow: 0 0 10px purple, 0 0 20px purple, 0 0 30px purple;
    }
}

.title {
    font-family: "Sigmar", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;

    animation: rainbow-glow 15s infinite alternate;

    user-select: none;
}

.logo {
    width: 500px;
    height: auto;
    padding: 0;
    margin: 0;
}

button,
.button,
input[type=submit] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;

    background-color: rgb(233, 47, 47);

    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 10px;

    height: 60px;
    width: 250px;

    color: white;
    font-size: 25px;

    transition: transform 0.2s ease-in-out;
}

.buttonIcon,
.buttonText {
    height: 100%;
    width: 25%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonText {
    width: 75%;
}

button:hover,
.button:hover,
input[type=submit]:hover {
    transform: scale(1.1);
}

button:active,
.button:active,
input[type=submit]:active {
    transform: translateY(1px);
}

.menu {
    height: 100vh;
    justify-content: center;
}

.buttonMenu {
    height: 55vh;
    width: 100vw;
}

input[type=text],
input[type=email],
input[type=password] {
    background-color: rgba(255, 255, 255, 0.75);

    border: 2px solid rgba(0, 0, 0, 0.6);
    border-radius: 10px;

    height: 25px;
    width: 220px;

    padding: 5px;

    color: black;
    font-weight: 600px;
    font-size: 20px;

    transition: transform 0.2s ease-in-out;
}

input[type=submit] {
    margin-top: 15px;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
    outline: none;
    transform: scale(1.05);
}

.formSection {
    display: flex;
    flex-direction: column;

    margin: 10px;
}

.formSection p {
    font-size: 20px;
}

.important {
    border-color: red !important;
}

.important:focus {
    outline: none;
    border-color: red !important;
}

.error {
    display: none;
    font-family: "Kanit", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 25px;
    color: red;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 5px;
    border-radius: 15px;
}

.message{
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.6);
    border: 2px solid rgba(255, 255, 255, 0.6);
    padding: 5px;
    border-radius: 15px;
}