button {
    width: 350px;
}

#joinOverlayBtn{
    background-color: rgb(0, 119, 255);
}

#leaveBtn{
    background-color: orange;
}

.screen{
    background-color: rgba(0, 0, 0, 0.6);
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 15px;

    height: 35vh;
    width: 700px;
}

.screen nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 20%;

    background-color: rgba(255, 255, 255, 0.377);
    border-radius: 10px 10px 0 0;
}

#playerList{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    height: 80%;
    width: 100%;
}

.player{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    height: 50%;
}

.player h1{
    width: 50%;
    text-align: center;
}

#player1{
    background-color: rgba(255, 8, 0, 0.377);
    border-radius: 0 0 0 0;
}

#player2{
    background-color: rgba(0, 89, 255, 0.377);
    border-radius: 0 0 10px 10px;
}

.formSection h2{
    text-align: center;
    
}

#codeInp{
    text-align: center;
}